@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e3e0;
    color: #363233;
}
#mainvisual {
    
}
#mainvisual img{
    width: 100%;
}
.frist {
    width: 100%;
    height: 200px;
    margin-top: 80px;
    font-size: 21px;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 300px;
    text-align: center;
}
tr, td {
    border: solid;
}
h2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
p {
    display: flex;
    justify-content: center;
    text-align: center;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}
